# compiled python files
*.pyc
*.npy
*.avi
*.jpg
*.png
*.csv

# tensorboard logs directories
logs

# IPython checkpoints directories
.ipynb_checkpoints

# bAbI task data
tasks/babi/data

tasks/video/checkpoints
