# compiled python files
*.pyc
*.npy
*.avi
*.jpg
*.png
*.csv
*.zip

# tensorboard logs directories
logs
test_logs

# IPython checkpoints directories
.ipynb_checkpoints

# bAbI task data
tasks/babi/data

tasks/video/checkpoints
